.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $neutral;
  border-bottom: 1px solid lightgray;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(209,209,209,0.66); 
  box-shadow: 5px 5px 15px 5px rgba(209,209,209,0.66);
  width: 100vw; 
  height: 3.5rem;
  padding: 0 10vw;
  & ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a:visited,
    & a:active,
    & a {
      color: $action;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
    }
    & a:hover {
      border-bottom: 1px solid $action;
    }
  }
}

.link,
.link:visited,
.link:active {
    color: $action;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5rem;
  &:hover {
    border-bottom: 1px solid $action;
  }
}