*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $neutral;
  font-family: $sans-serif;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}