.article {
  padding: 1.5rem;
  & a {
    font-family: $serif;
    font-size: 1.5rem;
    color: $action;
    margin: 0;
    line-height: 2.25rem;
    text-decoration: none;
    &:hover {
    text-decoration: underline;      
    }
  }
}

.article-card {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.5rem;
}

h2   {
  font-family: $serif;
  font-size: 1.5rem;
  color: $dark;
  margin: 0;
  line-height: 2.25rem;
}